services:
  db:
    image: postgres:latest
    container_name: enpal_postgres
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./raw_data:/raw_data
    ports:
      - "5432:5432"

  data_loader:
    image: postgres:latest
    container_name: enpal_data_loader
    depends_on:
      - db
    volumes:
      - ./raw_data:/raw_data
    entrypoint: /bin/bash /raw_data/load_data.sh
    environment:
      PGPASSWORD: admin
